<html><% provide(:title, "Resume") %>
<div id="header">
<p id="name">Ms.StellaMaris Njage</p>
         <a href="mailto:stellamarisnjage@gmail.com" target="_blank"><p id="email">stellamarisnjage@gmail.com</p></a>
         <p id="contact">+254 710864761</p>
     </div>
      <div class="left">
     </div>
     <div class="right">
     </div>
     
<h2><u>Academic Qualification</u></h2>
<h3>Maseno University- Maseno Kenya</h3>
<p>Bsc. Mathematics and Computer Science</p>
<h3><u>Skills</u></h3>
<ul>
<li>Java</li>
<li>Ruby</li>
<li>Networking</li>
</ul>
</html>
